@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */
.body-common {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/* タイポグラフィ */
.headline {
  text-align: center;
  margin-bottom: 20px;
}

/* 共通ヘッダ */
.logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
}

/* ログイン画面 */
.label-login {
  margin-top: 10px;
  margin-bottom: 1px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  margin-left: 21px;
    span {
    font-weight: normal;
  }
}

/* 基本情報の更新画面*/
.label-basic-info {
  margin-top: 5px;
  margin-bottom: 1px;
}

.checkbox-basic-time {
  margin-left: 21px;
    span {
    font-weight: normal;
  }
}

/* 勤怠表示・編集共通 */
.wday6 {
  color: blue;
}

.wday0 {
  color: red;
}

.table .table-head {
  text-align: center;
  vertical-align: middle;
  border-bottom-width: thin;
}

.table .table-data {
  vertical-align: middle;
}

/* 勤怠表示画面 */
.table-border-duplication {
  margin-bottom: -1px;
}

// .btn-attendance-log {
//   margin-bottom: 20px;
// }

.btn-attendance-application {
  margin-top: 15px;
}

.table-foot {
  background-color: #f9f9f9;
}

.select-attendance-confirmation {
  width: 100%;
}

/* ユーザ一覧 */
.file-selection {
  border: 1px solid silver;
  // outline: 10px solid gray;
  // outline-offset: -10px;
}

.btn-csv-import {
  margin-top: 15px;
}

.accordion-index-block{
  margin-left:23px;
}

.delete-button-left{
  border-left: 1px solid;
  margin-right: 5px;
}

.accordion-block{
  margin-bottom: 15px;
}

.accordion-head--color {
  background-color: #eaeaea;
}

.accordion-body {
  border: 1px solid #eaeaea;
  padding: 10px;
}

.btn-user-delete{
  margin-top: 2px;
}

.btn-user-edit {
  margin: 10px;
  font-size: 14px;
  height: 60px;
  width: 100px;
}

.btn-user-update {
  margin: 15px 0;
}

.label-user-edit {
  margin-top: 5px;
  margin-bottom: 1px;
}

/* デバッグウインドウ */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
